<% if (post.link){ %>
  <% if (post.title){ %>
    <h2><a href="<%- post.link %>" target="_blank"><%= post.title %></a></h2>
  <% } else { %>
    <h2><a href="<%- post.link %>" target="_blank"><%= post.link %></a></h2>
  <% } %>
<% } else { %>
  <% if (index){ %>
    <h2><a href="<%- config.root %><%- post.path %>"><%= post.title %></a></h2>
  <% } else { %>
    <h2><%= post.title %></h2>
  <% } %>
<% } %>
