<% if (site.categories.length){ %>
<section>
  <h2><%= __('categories') %></h2>
  <ul>
  <% site.categories.sort('name').each(function(item){ %>
    <li><a href="<%- config.root %><%- item.path %>"><%= item.name %></a><small><%= item.posts.length %></small></li>
  <% }); %>
  </ul>
</section>
<% } %>

