<!-- Post -->
<article id="<%= post.layout %>-<%= post.slug %>" class="box post post-excerpt">
  <header>
    <%- partial('post/title') %>
  </header>
  <div class="info">
    <span class="date"><span class="month"><%= post.date.format('MMM') %></span> <span class="day"><%= post.date.format('D') %></span><span class="year">, <%= post.date.format('YYYY') %></span></span>
    <ul class="stats">
      <%- partial('post/share_vertical') %>
    </ul>
  </div>
  <p>
  <% if (post.excerpt && index){ %>
    <%- post.excerpt %>
  <% } else { %>
    <%- post.content %>
  <% } %>
  </p>
  <footer class="article-footer">
    <a data-url="<%- post.permalink %>" data-id="<%= post._id %>" class="article-share-link">Share</a>
    <% if (post.comments && config.disqus_shortname){ %>
      <a href="<%- post.permalink %>#disqus_thread" class="article-comment-link">Comments</a>
    <% } %>
    <%- partial('post/tag') %>
  </footer>
  <% if (!index){ %>
    <%- partial('post/nav') %>
  <% } %>
</article>
<% if (!index && post.comments && config.disqus_shortname){ %>
<section id="comments">
  <div id="disqus_thread">
    <noscript>Please enable JavaScript to view the <a href="//disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  </div>
</section>
<% } %>
