<!-- Post -->
<article class="box post post-excerpt">
  <% if (item.photos){ %>
    <%- partial('post/gallery') %>
  <% } %>
  <header>
    <%- partial('post/title') %>
  </header>
  <div class="info">
    <span class="date"><span class="month"><%= item.date.format('MMM') %></span> <span class="day"><%= item.date.format('D') %></span><span class="year">, <%= item.date.format('YYYY') %></span></span>
    <ul class="stats">
      <%- partial('post/share_vertical') %>
      <!--
      <li><a href="#" class="fa fa-comment">16</a></li>
      <li><a href="#" class="fa fa-heart">32</a></li>
      <li><a href="#" class="fa fa-twitter">64</a></li>
      <li><a href="#" class="fa fa-facebook">128</a></li>
      -->
    </ul>
  </div>
  <p>
  <% if (item.excerpt && index){ %>
    <%- item.excerpt %>
  <% } else { %>
    <%- item.content %>
  <% } %>
  </p>
</article>
<%- partial('comment') %>
