<!DOCTYPE HTML>
<!--
	Striped 2.5 by HTML5 Up!
	html5up.net | @n33co
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
	Ported to Hexo by Adam Stokes @battlemidget
-->
<html>
  <head>
    <%
        var title = page.title;

        if (is_archive()){
          title = 'Archives';

          if (is_month()){
            title += ': ' + page.year + '/' + page.month;
          } else if (is_year()){
            title += ': ' + page.year;
          }
        } else if (is_category()){
          title = 'Category: ' + page.category;
        } else if (is_tag()){
          title = 'Tag: ' + page.tag;
        }
    %>
    <title><% if (title){ %><%= title %> | <% } %><%= config.title %></title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />

    <% if (config.author){ %>
        <meta name="author" content="<%= config.author %>">
    <% } %>
    <% if (page.description){ %>
        <meta name="description" content="<%= page.description %>">
    <% } else if (config.description){ %>
        <meta name="description" content="<%= config.description %>">
    <% } else if (page.excerpt) { %>
        <meta name="description" content="<%= strip_html(page.excerpt).replace(/^\s*/, '').replace(/\s*$/, '') %>">
    <% } else if (page.content) { %>
        <meta name="description" content="<%= strip_html(page.content).replace(/^\s*/, '').replace(/\s*$/, '').substring(0, 150) %>">
    <% } %>
    <% if (page.keywords){ %>
        <meta name="keywords" content="<%= page.keywords %>">
    <% } %>
    <!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
    <%- js('js/jquery.min.js') %>
    <%- js('js/skel.min.js') %>
    <%- js('js/skel-panels.min.js') %>
    <%- js('js/init.js') %>
    <noscript>
        <%- css('css/style.css') %>
        <%- css('css/style-desktop.css') %>
        <%- css('css/style-wide.css') %>
    </noscript>
    <!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->
    <link rel="alternate" href="<% if (theme.rss){ %><%- theme.rss %><% } else { %><%- config.root %>atom.xml<% } %>" title="<%= config.title %>" type="application/atom+xml">
    <%- css('js/styles/tomorrow-night.css') %>
    <%- js('js/highlight.pack.js') %>
    <script>
        hljs.initHighlightingOnLoad();
    </script>

    <%- partial( 'google_analytics') %>
  </head>
