<div id="sidebar">
  <!-- Logo -->
  <div id="logo">
    <h1><a href="<%- config.root %>"><%= config.title %></a></h1>
    <h2><a href="<%- config.root %>"><% if (config.subtitle){ %><%= config.subtitle %><% } %></a></h2>
  </div>
  
  <!-- Nav -->
  <nav id="nav">
    <ul>
      <% for (var i in theme.menu){ %>
      <li><a href="<%- theme.menu[i] %>"><%= i %></a></li>
      <% } %>
    </ul>
  </nav>


  <!-- Hexo Widgets -->
  <section class="is-widgets">
    <% theme.widgets.forEach(function(widget){ %>
    <%- partial('../_widget/' + widget) %>
    <% }); %>
  </section>	

  <!-- Copyright -->
  <%- partial('footer') %>
</div>
